@font-face {
  font-family: Droid_Serif;
  src:url(Fonts/Droid_Serif/DroidSerif.ttf)
}       
 
@font-face {
  font-family: Oswald;
  src:url(Fonts/Oswald/Oswald-Regular.ttf)
}       
 
@font-face {
  font-family: Pacifico;
  src:url(Fonts/Pacifico/Pacifico.ttf);
  
}       
 
#changeFont {
  background: #333333;
  font-family: Pacifico;
  font-size: 24pt;
  color: #ffffff;
}

